---
import { getCollection } from "astro:content";
import { Icon } from "astro-icon/components";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";

const publishedVolunteers = await getCollection("volunteers", ({ data }) => {
  return !data.draft && new Date(data.publishDate) < new Date();
});

const values = [
  {
    title: "Individualism",
    description: "We embrace the uniqueness of each individual.",
    icon: "bx:bxs-user",
  },
  {
    title: "Voluntary Association",
    description: "Participation by choice, not coercion.",
    icon: "bx:bxs-group",
  },
  {
    title: "Privacy",
    description: "Privacy is a fundamental right essential for freedom.",
    icon: "simple-icons:privateinternetaccess",
  },
  {
    title: "Software is Speech",
    description: "Champion free speech and FOSS as the foundation of a free society.",
    icon: "bx:code",
  },
  {
    title: "Proof-of-Work",
    description: "We reward and support actions that improve the human condition.",
    icon: "uil:wrench",
  },
  {
    title: "Meritocracy",
    description: "Recognition based on individual effort and achievement.",
    icon: "bx:bxs-trophy",
  },
  {
    title: "Curiosity",
    description: "The innate desire for knowledge forwards the human condition.",
    icon: "bx:question-mark",
  },
  {
    title: "Courage",
    description: "We promote actions driven by courage, not fear, to achieve positive outcomes.",
    icon: "bx:bxs-microphone",
  },
  {
    title: "Authenticity",
    description: "We value sincerity and originality in our actions.",
    icon: "bx:bxl-discourse",
  },
];
---

<style>
  body, html {
    overflow-x: hidden;
  }

  .custom-gradient {
    background: linear-gradient(130deg, #E51F5D, #F68830, #F5D54C, #F68830);
  }

  .white-svg {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
  }

  .volunteer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 0 20px;
    max-width: 1200px;
    margin: 0 auto;
  }

  .volunteer-container .volunteer {
    display: inline-block;
    text-align: center;
  }

  .volunteer-container img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
  }

  .volunteer-section {
    padding-top: 0;
    margin-top: -20px;
  }

  .volunteer-section h2, .volunteer-section p {
    margin-bottom: 20px;
  }

  .table-wrapper {
    overflow-x: auto;
    overflow-y: hidden;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgb(0, 0, 0);
    background-color: #131313;
    padding: 0.5rem;
  }

  table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    table-layout: fixed;
    background-color: transparent;
  }

  th, td {
    border: 2px solid #000000;
    padding: 10px;
    text-align: center;
    background-color: #131313;
    color: #fff;
    width: 14.2857%;
    position: relative;
  }

  th {
    background-color: #131313;
  }

  .checkmark::before {
    content: "✓";
    color: #bebebe;
    font-size: 20px;
  }

  .dash::before {
    content: "—";
    color: #a4a4a4;
    font-size: 20px;
  }

  .cross::before {
    content: "✗";
    color: #6d6d6d;
    font-size: 20px;
  }

  .custom-logo {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url('/assets/branding/Logos/TheSpace_Logos_Symbol_2.png') no-repeat center center;
    background-size: contain;
  }

  @media (min-width: 1025px) {
    .custom-padding {
      padding: 0 68px;
    }
  }

  @media (max-width: 1024px) {
    .custom-padding {
      padding: 0 20px;
    }
  }

  @media (max-width: 768px) {
    .custom-padding {
      padding: 0 15px;
    }

    th, td {
      padding: 5px;
      font-size: 12px;
    }

    .checkmark::before, .dash::before, .cross::before {
      font-size: 15px;
    }
  }

  @media (max-width: 480px) {
    .custom-padding {
      padding: 0 10px;
    }

    th, td {
      padding: 1px;
      font-size: 10px;
    }

    .checkmark::before, .dash::before, .cross::before {
      font-size: 12px;
    }
  }

  .list-custom {
    list-style-type: none;
    padding-left: 0;
  }

  .list-custom li {
    padding-left: 50px;
    position: relative;
    margin-top: 1rem;
    text-align: left;
  }

  .list-custom li:nth-child(1)::before {
    content: "";
    background: url('/assets/branding/Logos/TheSpace_Logos_Number1.png') no-repeat center center;
    background-size: contain;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0;
    top: 0;
  }

  .list-custom li:nth-child(2)::before {
    content: "";
    background: url('/assets/branding/Logos/TheSpace_Logos_Number2.png') no-repeat center center;
    background-size: contain;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0;
    top: 0;
  }

  .list-custom li:nth-child(3)::before {
    content: "";
    background: url('/assets/branding/Logos/TheSpace_Logos_Number3.png') no-repeat center center;
    background-size: contain;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0;
    top: 0;
  }
</style>

<Layout title="About Us">
  <Container>
    <Sectionhead>
      <Fragment slot="title">About The Space</Fragment>
      <Fragment slot="desc">
        The Space is a bitcoin citadel and community hub located in Denver, CO. <br/><br/>
        Our nonprofit organization is dedicated to freedom and bitcoin initiatives. We offer a place for those in The Space to connect, work, socialize and learn.
        Join us for our events, presentations and workshops. Enter The Space!
      </Fragment>
    </Sectionhead>

    <div class="space-y-16 px-4">
      <section class="flex flex-col mt-20 items-center lg:space-y-8">
        <img src="/assets/branding/Logos/TheSpace_Logos_Ring_3crop.png" alt="Logo Image" class="w-full lg:w-5/6 rounded-lg" style="box-shadow: none;" />
      </section>

      <section class="text-center py-10 px-4 bg-black rounded-lg shadow-md">
        <h2 class="text-3xl font-bold text-white">Our Vision</h2>
        <ul class="list-custom mx-auto max-w-1xl mt-10 text-lg text-white">
          <li>An organization with global influence, advancing freedom in the digital age.</li>
          <li>A community of outstanding individuals and organizations aligned with our principles and values.</li>
          <li>The premier place to collaborate, network, educate, and support creative development for bitcoin and sovereign tech.</li>
        </ul>
      </section>

      <section class="mt-16">
        <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">Our Values</h2>
        <p class="text-lg mt-4 text-slate-600">What we stand for</p>
        <div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
          {values.map((item) => (
            <div class="flex gap-4 items-start">
              <div class="mt-1 bg-black rounded-full p-2 w-8 h-8 shrink-0">
                <Icon class="text-white" name={item.icon} />
              </div>
              <div>
                <h3 class="font-semibold text-lg">{item.title}</h3>
                <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
              </div>
            </div>
          ))}
        </div>
      </section>
    </div>
  </Container>

  <div class="custom-gradient py-12 mt-20">
    <section class="text py-10 text-center custom-padding">
      <h2 class="mt-0 mb-10 text-4xl text-center font-bold text-white">Something Unique</h2>
      <div class="overflow-auto mt-8 px-8 table-wrapper">
        <table class="unique-table mx-auto">
          <thead>
            <tr>
              <th></th>
              <th>The Space</th>
              <td>Bitcoin Hubs</td>
              <td>Aligned Orgs</td>
              <td>Social Clubs</td>
              <td>Coworking Spots</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Education</td>
              <td><span class="custom-logo"></span></td>
              <td class="checkmark"></td>
              <td class="checkmark"></td>
              <td class="cross"></td>
              <td class="cross"></td>
            </tr>
            <tr>
              <td>Social Hub</td>
              <td><span class="custom-logo"></span></td>
              <td class="checkmark"></td>
              <td class="checkmark"></td>
              <td class="checkmark"></td>
              <td class="cross"></td>
            </tr>
            <tr>
              <td>Defined Mission</td>
              <td><span class="custom-logo"></span></td>
              <td class="checkmark"></td>
              <td class="checkmark"></td>
              <td class="cross"></td>
              <td class="cross"></td>
            </tr>
            <tr>
              <td>Events</td>
              <td><span class="custom-logo"></span></td>
              <td class="checkmark"></td>
              <td class="dash"></td>
              <td class="dash"></td>
              <td class="dash"></td>
            </tr>
            <tr>
              <td>Coworking</td>
              <td><span class="custom-logo"></span></td>
              <td class="dash"></td>
              <td class="cross"></td>
              <td class="cross"></td>
              <td class="checkmark"></td>
            </tr>
            <tr>
              <td>Member Run</td>
              <td><span class="custom-logo"></span></td>
              <td class="cross"></td>
              <td class="cross"></td>
              <td class="dash"></td>
              <td class="cross"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>

    <section class="py-10 mt-4 mb-0 px-4">
      <h2 class="text-4xl text-center font-bold text-white">How We Got Here</h2>
      <p class="mt-10 text-lg text-white mx-auto max-w-2xl">
        The idea for The Space was born at a Denver BitDevs event in the fall of 2023. High attendance and engagement highlighted a strong interest in establishing a bitcoin citadel on the Rocky Mountain front range. Over the following months, our dedicated founding volunteers gathered weekly to refine our vision and work to bring The Space to life.
      </p>
      <div class="mt-10 mx-auto max-w-2xl p-6" style="background-color: #131313; border-radius: 0.5rem; box-shadow: 0 2px 4px rgb(0, 0, 0);">
        <ul class="text-lg text-white list-disc list-inside">
          <h2> The Process:</h2><br/>
          <li>Community research and feedback</li>
          <li>Mission, values, charter, and bylaws definition</li>
          <li>Treasury and FOSS infrastructure development</li>
          <li>Founding event: block height, board vote, and membership growth</li>
          <li>Nonprofit filing, bank account, and server setup</li>
          <li>Event planning, committee formation and curriculum development</li>
          <li>Partnership and sponsor outreach</li>
          <li>Real estate scouting</li>
        </ul>
      </div>
      <p class="mt-10 text-lg text-white mx-auto max-w-2xl">
        Our team has made significant progress towards opening our physical community hub.
      </p>
    </section>
  </div>

  <div class="volunteer-section text-center bg-black py-10">
    <h2 class="mt-20 text-4xl font-bold text-white">Founding Volunteers</h2>
    <p class="mt-4 px-10 text-center text-gray-200">Cheers to all the amazing bitcoiners across the Rocky Mountain region who helped bring this together.</p>
    <div class="mt-20 volunteer-container">
      {publishedVolunteers.map((volunteerEntry) => (
        <div class="volunteer mt-4">
          <img src={volunteerEntry.data.avatar.src} alt={volunteerEntry.data.avatar.alt} class="h-24 w-24 object-cover rounded-full border-2 border-white shadow-md" />
          <p class="text-white mt-2">{volunteerEntry.data.name}</p>
        </div>
      ))}
    </div>
  </div>
</Layout>
