---
import { getCollection } from "astro:content";
import { Icon } from "astro-icon/components";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";

const publishedVolunteers = await getCollection("volunteers", ({ data }) => {
  return !data.draft && new Date(data.publishDate) < new Date();
});

const values = [
  { title: "Individualism", description: "We embrace the uniqueness of each individual.", icon: "bx:bxs-user" },
  { title: "Voluntary Association", description: "Participation by choice, not coercion.", icon: "bx:bxs-group" },
  { title: "Privacy", description: "Privacy is a fundamental right essential for freedom.", icon: "simple-icons:privateinternetaccess" },
  { title: "Software is Speech", description: "Champion free speech and FOSS as the foundation of a free society.", icon: "bx:code" },
  { title: "Proof-of-Work", description: "We reward and support actions that improve the human condition.", icon: "uil:wrench" },
  { title: "Meritocracy", description: "Recognition based on individual effort and achievement.", icon: "bx:bxs-trophy" },
  { title: "Curiosity", description: "The innate desire for knowledge forwards the human condition.", icon: "bx:question-mark" },
  { title: "Courage", description: "We promote actions driven by courage, not fear, to achieve positive outcomes.", icon: "bx:bxs-microphone" },
  { title: "Authenticity", description: "We value sincerity and originality in our actions.", icon: "bx:bxl-discourse" },
];
---

<style>
  body, html {
    overflow-x: hidden;
  }

  .custom-gradient {
    background: linear-gradient(130deg, #E51F5D, #F68830, #F5D54C, #F68830);
  }

  .white-svg {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
  }

  .volunteer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 0 20px;
    max-width: 1200px;
    margin: 0 auto;
  }

  .volunteer-container .volunteer {
    display: inline-block;
    text-align: center;
  }

  .volunteer-container img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
  }

  .volunteer-section {
    padding-top: 0;
    margin-top: -20px;
  }

  .volunteer-section h2, .volunteer-section p {
    margin-bottom: 20px;
  }

  .table-wrapper {
    overflow-x: auto;
    overflow-y: hidden;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgb(0, 0, 0);
    background-color: #131313;
    padding: 0.5rem;
  }

  table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    table-layout: fixed;
    background-color: transparent;
  }

  th, td {
    border: 2px solid #000000;
    padding: 10px;
    text-align: center;
    background-color: #131313;
    color: #fff;
    width: 14.2857%;
    position: relative;
  }

  th {
    background-color: #131313;
  }

  .checkmark::before {
    content: "✓";
    color: #bebebe;
    font-size: 20px;
  }

  .dash::before {
    content: "—";
    color: #a4a4a4;
    font-size: 20px;
  }

  .cross::before {
    content: "✗";
    color: #6d6d6d;
    font-size: 20px;
  }

  .custom-logo {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url('/assets/branding/Logos/TheSpace_Logos_Symbol_2.webp') no-repeat center center;
    background-size: contain;
  }

  @media (max-width: 768px) {
    th, td {
      padding: 5px;
      font-size: 12px;
    }

    .checkmark::before, .dash::before, .cross::before {
      font-size: 15px;
    }

    .vision-grid, .process-grid {
      grid-template-columns: 1fr !important;
    }
  }

  @media (max-width: 480px) {
    th, td {
      padding: 1px;
      font-size: 10px;
    }

    .checkmark::before, .dash::before, .cross::before {
      font-size: 12px;
    }
  }

  .list-custom {
    list-style-type: none;
    padding-left: 0;
  }

  .list-custom li {
    padding-left: 50px;
    position: relative;
    margin-top: 1rem;
    text-align: left;
  }

  .list-custom li:nth-child(1)::before {
    content: "";
    background: url('/assets/branding/Logos/TheSpace_Logos_Number_1.webp') no-repeat center center;
    background-size: contain;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0;
    top: 0;
  }

  .list-custom li:nth-child(2)::before {
    content: "";
    background: url('/assets/branding/Logos/TheSpace_Logos_Number_2.webp') no-repeat center center;
    background-size: contain;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0;
    top: 0;
  }

  .list-custom li:nth-child(3)::before {
    content: "";
    background: url('/assets/branding/Logos/TheSpace_Logos_Number_3.webp') no-repeat center center;
    background-size: contain;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0;
    top: 0;
  }

  .vision-grid, .process-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  .vision-textbox, .process-textbox {
    background-color: #131313;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgb(0, 0, 0);
    color: white;
  }

  .vision-card, .process-card {
    background-color: #131313;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgb(0, 0, 0);
    color: white;
  }

  .link-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .link-button {
    flex: 1;
    color: #000000;
    text-decoration: none;
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 0.5rem;
    text-align: center;
    font-weight: bold;
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem 0;
  }

    .link-button:hover {
    background-color: #d8d8d8;
    color: rgb(0, 0, 0);
  }
</style>

<Layout title="About Us">
  <Container>
    <section class="flex flex-col mt-28 mb-36 items-center lg:space-y-7">
      <img src="/assets/TheSpace_Logos_Full3_glitch.gif" alt="Logo Glitch Gif" loading="eager" class="w-full lg:w-11/12 rounded-lg" style="box-shadow: none;" />
    </section>
    <Sectionhead>
      <Fragment slot="title">About The Space</Fragment>
      <Fragment slot="desc">
        <p class="text-lg mt-4 text-slate-600 px-0 md:px-4 lg:px-10">
          The Space is a bitcoin citadel and community hub located in Denver, CO. <br/>
        </p>
        <p class="text-lg mt-4 text-justify text-slate-600 px-0 md:px-4 lg:px-10">
          Our organization is dedicated to freedom and bitcoin initiatives. We offer a place for those in The Space to connect, work, socialize and learn.
          Join us for our events, presentations, workshops, and more. Enter The Space!
        </p>
      </Fragment>
    </Sectionhead>

    <div class="px-0">
      <h2 class="mt-28 mb-4 text-4xl text-center font-bold text-black">Something Unique</h2>
      <div class="overflow-auto mt-0 mb-8 px-0 table-wrapper">
        <table class="unique-table mx-auto">
          <thead>
            <tr>
              <th></th>
              <th>The Space</th>
              <td>Bitcoin Hubs</td>
              <td>Aligned Orgs</td>
              <td>Social Clubs</td>
              <td>Coworking Spots</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Education</td>
              <td><span class="custom-logo"></span></td>
              <td class="checkmark"></td>
              <td class="checkmark"></td>
              <td class="cross"></td>
              <td class="cross"></td>
            </tr>
            <tr>
              <td>Social Hub</td>
              <td><span class="custom-logo"></span></td>
              <td class="checkmark"></td>
              <td class="checkmark"></td>
              <td class="checkmark"></td>
              <td class="cross"></td>
            </tr>
            <tr>
              <td>Defined Mission</td>
              <td><span class="custom-logo"></span></td>
              <td class="checkmark"></td>
              <td class="checkmark"></td>
              <td class="cross"></td>
              <td class="cross"></td>
            </tr>
            <tr>
              <td>Events</td>
              <td><span class="custom-logo"></span></td>
              <td class="checkmark"></td>
              <td class="dash"></td>
              <td class="dash"></td>
              <td class="dash"></td>
            </tr>
            <tr>
              <td>Coworking</td>
              <td><span class="custom-logo"></span></td>
              <td class="dash"></td>
              <td class="cross"></td>
              <td class="cross"></td>
              <td class="checkmark"></td>
            </tr>
            <tr>
              <td>Member Run</td>
              <td><span class="custom-logo"></span></td>
              <td class="cross"></td>
              <td class="cross"></td>
              <td class="dash"></td>
              <td class="cross"></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="vision-grid px-0">
        <div class="vision-textbox">
          <h2 class="text-4xl font-bold">Model</h2>
          <p class="mt-4 text-lg">
            The Space is member-run. An annual member vote is held to elect the Board of Directors.
            The Board consists of six officers with extensive responsibilities, and three member representatives to advocate on their behalf.<br/><br/>
            This is a grassroots bitcoin movement. No single person or entity has operational control over The Space.
          </p>
          <a href="/resources" class="mt-4 inline-block text-lg text-blue-500 hover:underline">Learn more from our Resources and FAQ page</a>
        </div>
        <div class="vision-card">
          <h2 class="text-4xl font-bold">Vision</h2>
          <ul class="list-custom mx-auto max-w-1xl mt-10 text-lg">
            <li>An organization with global influence, advancing freedom in the digital age.</li>
            <li>A community of outstanding individuals and organizations aligned with our principles and values.</li>
            <li>The premier place to collaborate, network, educate, work and support creative development in the bitcoin space.</li>
          </ul>
        </div>
      </div>

      <section class="mt-28">
        <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight mt-28">Our Values</h2>
        <p class="text-lg mt-4 text-slate-600">What we stand for:</p>
        <div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 mb-6 gap-16">
          {values.map((item) => (
            <div class="flex gap-4 items-start">
              <div class="mt-1 bg-black rounded-full p-2 w-8 h-8 shrink-0">
                <Icon class="text-white" name={item.icon} />
              </div>
              <div>
                <h3 class="font-semibold text-lg">{item.title}</h3>
                <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
              </div>
            </div>
          ))}
        </div>
      </section>
    </div>
  </Container>

  <div class="custom-gradient py-0 mt-20">
    <section class="text py-0 text-center max-w-screen-lg mx-auto px-2 md:px-8 lg:px-0">
      <section class="flex flex-col mt-24 mb-24 items-center lg:space-y-7">
        <img src="/assets/branding/Logos/TheSpace_Logos_Ring_2crop.webp" alt="Logo Image" loading="eager" class="w-full lg:w-11/12 rounded-lg" style="box-shadow: none;" />
      </section>
    </section>

    <div class="vision-grid mb-24 mx-auto max-w-7xl px-5 md:px-5 lg:px-9">
      <div class="vision-textbox">
        <h2 class="text-4xl font-bold">The Process</h2>
        <div class="mt-4 mx-auto max-w-3xl">
          <ul class="text-lg text-white list-disc list-inside">
            <li>Community research and feedback</li><br/>
            <li>Mission, values, charter, and by-laws definition</li><br/>
            <li>Treasury and FOSS infrastructure development</li><br/>
            <li>Founding event: block height, board elections, and membership growth</li><br/>
            <li>Nonprofit filing, bank account, and server setup</li><br/>
            <li>Event planning, committee formation and curriculum development</li><br/>
            <li>Partnership and sponsor outreach</li><br/>
            <li>Real estate scouting</li>
          </ul>
        </div>
      </div>
      <div class="vision-card link-container">
        <h2 class="text-4xl font-bold">Get Involved</h2>
        <p class="mt-4 mb-4 text-lg">
          Want to be a part of our journey? <br/>Explore the different ways you can support our mission.</p>
        <div class="link-container">
          <a href="/pricing" class="link-button">Become a Member</a>
          <a href="/sponsors" class="link-button">Sponsor Us</a>
          <a href="https://lns.lightningshops.io/apps/3T6tR1Nt7GNp76gg7CGaVSrChG4G/pos" target="_blank" class="link-button">Donate</a>
        </div>
      </div>
    </div>
  </div>

  <div class="volunteer-section text-center bg-black py-10">
    <h2 class="mt-20 text-4xl font-bold text-white">Founding Volunteers</h2>
    <p class="mt-4 px-10 text-center text-gray-200">Cheers to all the amazing bitcoiners across the Rocky Mountain region who helped bring this together.</p>
    <div class="mt-20 volunteer-container">
      {publishedVolunteers.map((volunteerEntry) => (
        <div class="volunteer mt-4">
          <img src={volunteerEntry.data.avatar.src} alt={volunteerEntry.data.avatar.alt} loading="eager" class="h-24 w-24 object-cover rounded-full border-2 border-white shadow-md" />
          <p class="text-white mt-2">{volunteerEntry.data.name}</p>
        </div>
      ))}
    </div>
  </div>
</Layout>
