---
import { getCollection } from "astro:content";
import { Picture } from "astro:assets";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";

// Fetch and sort blog entries
const publishedBlogEntries = (await getCollection("blog", ({ data }) => !data.draft && data.publishDate < new Date()))
  .sort((a, b) => new Date(b.data.publishDate).getTime() - new Date(a.data.publishDate).getTime());
---

<Layout title="Blog">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Blog</Fragment>
      <Fragment slot="desc">
        Follow along for our newsletter, public announcements, blog posts, and more.
      </Fragment>
    </Sectionhead>
    <main class="mt-16 mb-20">
      <ul class="grid max-w-4xl mx-auto gap-4"> <!-- Adjusted gap -->
        {publishedBlogEntries.map((blogPostEntry, index) => (
          <li class={`group border-4 border-[#ffffff] rounded-lg p-2 blog-card ${!blogPostEntry.data.image.src ? 'blog-post-no-image' : ''} mb-4`}> <!-- Applied styles -->
            <a href={`/blog/${blogPostEntry.slug}`} class="grid blog-post-grid gap-5 items-center">
              {blogPostEntry.data.image.src ? (
                <Picture
                  src={blogPostEntry.data.image.src}
                  alt={blogPostEntry.data.image.alt}
                  sizes="(max-width: 800px) 20vw, 800px"
                  width={800}
                  height={600}
                  loading={index <= 2 ? "eager" : "lazy"}
                  decoding={index <= 2 ? "sync" : "async"}
                  class="blog-image w-full rounded-md object-cover object-center bg-white"
                />
              ) : null}
              <div class="text-content">
                <span class="text-blue-500 uppercase tracking-wider text-sm font-medium">
                  {blogPostEntry.data.category}
                </span>
                <h2 class="text-2xl font-semibold leading-snug tracking-tight mt-1">
                  {blogPostEntry.data.title}
                </h2>
                <p class="text-gray-500 mt-2">
                  {blogPostEntry.data.snippet}
                </p>
                <div class="flex gap-2 mt-3 text-gray-400 text-sm">
                  <span class="author-name">
                    {blogPostEntry.data.author}
                  </span>
                  <span>•</span>
                  <time datetime={blogPostEntry.data.publishDate.toISOString()}>
                    {blogPostEntry.data.publishDate.toDateString()}
                  </time>
                </div>
              </div>
            </a>
          </li>
        ))}
      </ul>
    </main>
  </Container>
</Layout>

<style>
  .blog-post-grid {
    display: grid;
    grid-template-columns: 20% 1fr;
    gap: 1rem;
  }

  .blog-post-no-image .blog-post-grid {
    grid-template-columns: 1fr;
  }

  @media (max-width: 768px) {
    .blog-post-grid {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;
    }

    .text-content {
      padding-top: 0;
    }
  }

  .blog-card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease, box-shadow 0.5s ease;
  }

  .blog-card:hover {
    transform: translateY(-5px);
  }
</style>
