---
import { getCollection } from "astro:content";
import { Picture } from "astro:assets";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";

// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && new Date(data.publishDate) < new Date();
});

---

<Layout title="Board of Directors">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Board of Directors</Fragment>
      <Fragment slot="desc">
        We are operated by member elected officers and representatives within the Rocky Mountain region.
      </Fragment>
    </Sectionhead>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-3xl text-gray-800">
        Passionate about bitcoin and community.
      </h2>
      <p class="text-lg leading-relaxed text-slate-500">
        The Board of Directors consists of nine individuals around the Denver area, passionate about bitcoin, open source technologies, and building a community focused on freedom and education. We come from diverse backgrounds with different personalities, experiences, and skills.
      </p>
    </div>
    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-4xl mt-12 mb-20">
      {
        publishedTeamMembers.map((teamMemberEntry) => (
          <div class="group relative">
            <div class="relative w-full aspect-square">  <!-- Make this div relative -->
              <Picture
                src={teamMemberEntry.data.avatar.src}
                alt={teamMemberEntry.data.avatar.alt}
                sizes="(max-width: 800px) 100vw, 400px"
                width={400}
                height={400}
                class="w-full rounded bg-white object-cover object-center aspect-square"
              />
              <div class="absolute inset-0 bg-black bg-opacity-80 opacity-0 group-hover:opacity-100 transition-opacity duration-300 flex flex-col justify-center items-center text-white p-4 space-y-3">
                <h3 class="text-xl font-semibold">{teamMemberEntry.data.name}</h3>
                <p>{teamMemberEntry.data.bio}</p>
              </div>
            </div>

            <div class="mt-4 text-center">
              <h2 class="text-lg text-gray-800">{teamMemberEntry.data.name}</h2>
              <h3 class="text-sm text-slate-500">
                {teamMemberEntry.data.title}
              </h3>
            </div>
          </div>
        ))
      }
    </div>
  </Container>
</Layout>