---
// @ts-ignore
import { Icon } from "astro-icon/components";

// List of sponsor images, their alt text, and URLs
const sponsors = [
  { src: "/assets/sponsors/TheSpace_Logos_Symbol_4.webp", alt: "Support Us", url: "https://lns.lightningshops.io/apps/3T6tR1Nt7GNp76gg7CGaVSrChG4G/pos", format: "webp" },
  { src: "/assets/sponsors/TheSpace_Logos_Symbol_4.webp", alt: "Support Us", url: "https://lns.lightningshops.io/apps/3T6tR1Nt7GNp76gg7CGaVSrChG4G/pos", format: "webp" },
  { src: "/assets/sponsors/TheSpace_Logos_Symbol_4.webp", alt: "Support Us", url: "https://lns.lightningshops.io/apps/3T6tR1Nt7GNp76gg7CGaVSrChG4G/pos", format: "webp" },
  { src: "/assets/sponsors/TheSpace_Logos_Symbol_4.webp", alt: "Support Us", url: "https://lns.lightningshops.io/apps/3T6tR1Nt7GNp76gg7CGaVSrChG4G/pos", format: "webp" },
  { src: "/assets/sponsors/TheSpace_Logos_Symbol_4.webp", alt: "Support Us", url: "https://lns.lightningshops.io/apps/3T6tR1Nt7GNp76gg7CGaVSrChG4G/pos", format: "webp" },
  { src: "/assets/sponsors/TheSpace_Logos_Symbol_4.webp", alt: "Support Us", url: "https://lns.lightningshops.io/apps/3T6tR1Nt7GNp76gg7CGaVSrChG4G/pos", format: "webp" },
  // Add more sponsors as needed
];
---

<style>
  /* CSS styling. Custom background gradient, gid formatting and control for different screen sizes. */
  .custom-gradient {
    background: linear-gradient(135deg, #E51F5D, #F68830, #F5D54C, #FDE3B7);
  }
  .white-svg {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
  }
  .sponsors-grid {
    display: grid;
    gap: 2rem; /* Adjust vertical gap between rows */
    justify-items: center;
    align-items: center;
  }
  @media (min-width: 1024px) { /* Large screens */
    .sponsors-grid {
      grid-template-columns: repeat(6, 1fr);
    }
  }
  @media (min-width: 768px) and (max-width: 1023px) { /* Medium screens */
    .sponsors-grid {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, auto);
    }
  }
  @media (max-width: 767px) { /* Small screens */
    .sponsors-grid {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, auto);
    }
  }
</style>

<div class="mt-24 mb-0 custom-gradient py-12">
  <h2 class="text-center text-white px-12">Supported by bitcoin organizations. Help us spread the word.</h2>
  <div class="sponsors-grid mt-10 mb-2">
    {sponsors.map(sponsor => (
      <a href={sponsor.url} target="_blank" rel="noopener noreferrer" class="block">
        {sponsor.format === 'svg' ? (
          <div class="h-12 w-12 md:h-20 md:w-20 white-svg">
            <img src={sponsor.src} alt={sponsor.alt} loading="eager" class="object-contain h-full w-full" />
          </div>
        ) : (
          <img src={sponsor.src} alt={sponsor.alt} loading="eager" class="h-12 w-12 md:h-20 md:w-20 object-contain" />
        )}
      </a>
    ))}
  </div>
</div>