---
// @ts-ignore
import { Icon } from "astro-icon/components";

// List of sponsor images, their alt text, and URLs
const sponsors = [
  { src: "/assets/sponsors/fedimint.png", alt: "Fedimint", url: "https://fedimint.org", format: "png" },
  { src: "/assets/sponsors/bitcoin.svg", alt: "Sponsor Us", format: "svg" },
  { src: "/assets/sponsors/bitcoin.svg", alt: "Sponsor Us", format: "svg" },
  { src: "/assets/sponsors/bitcoin.svg", alt: "Sponsor Us", format: "svg" },
  { src: "/assets/sponsors/bitcoin.svg", alt: "Sponsor Us", format: "svg" },
  { src: "/assets/sponsors/bitcoin.svg", alt: "Sponsor Us", format: "svg" },
  { src: "/assets/sponsors/bitcoin.svg", alt: "Sponsor Us", format: "svg" },
  // Add more sponsors as needed
];
---

<div class="mt-24 mb-20">
  <h2 class="text-center text-slate-500">Supported by bitcoin organizations and believers. Help us spread the word.</h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
    {sponsors.map(sponsor => (
      <a href={sponsor.url} target="_blank" rel="noopener noreferrer" class="block">
        {sponsor.format === 'svg' ? (
          <div class="h-12 w-12 md:h-20 md:w-20">
            <img src={sponsor.src} alt={sponsor.alt} class="object-contain h-full w-full" />
          </div>
        ) : (
          <img src={sponsor.src} alt={sponsor.alt} class="h-12 w-12 md:h-20 md:w-20 object-contain" />
        )}
      </a>
    ))}
  </div>
</div>